.title {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 600px;
}

.content {
max-height: 600px;
max-width: 600px;
text-align: center;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
border: 1px solid;
}

.category {
flex-grow: 1;
padding: 16px;
border: 1px solid;
}